@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<nav class="relative z-[9999] bg-[#131020] font-dm m-4 px-8 py-4 rounded-2xl shadow-lg overflow-visible">
    <div class="absolute inset-0 rounded-2xl overflow-hidden pointer-events-none">
        <div class="absolute inset-0 bg-[url('/images/backgrounds/dark-section-img.svg')] bg-repeat opacity-60"></div>
    </div>
    <div class="relative z-10 flex items-center justify-between">

        <div class="flex items-center gap-3">
            <a asp-controller="Home" asp-action="Index">
                <img src="/images/logos/corefitness-logo.svg" class="h-8" alt="Logo" />
            </a>
        </div>

        <div class="hidden md:flex items-center gap-8 text-sm">
            <a asp-controller="Home" asp-action="Index"
                class="@(currentController == "Home" && currentAction == "Index"
                    ? "text-[#D6EB31]"
                    : "text-white hover:text-[#D6EB31]")">
                Fitness Centers
            </a>

            <a asp-controller="Membership" asp-action="Index"
                class="@(currentController == "Membership"
                    ? "text-[#D6EB31]"
                    : "text-white hover:text-[#D6EB31]")">
                Memberships
            </a>
            
            <div class="relative group">
                <a asp-controller="Classes" asp-action="Index"
                class="flex items-center gap-1 @(currentController == "Classes"
                        ? "text-[#D6EB31]"
                        : "text-white group-hover:text-[#D6EB31]")">
                    Training
                    <span class="relative w-[14px] h-4">
                        <img src="/images/icons/arrow-down.svg"
                            class="absolute inset-0 w-full h-full @(currentController == "Classes" ? "hidden" : "group-hover:hidden")" />

                        <img src="/images/icons/arrow-down-hover.svg"
                            class="absolute inset-0 w-full h-full @(currentController == "Classes" ? "block" : "hidden group-hover:block")" />
                    </span>
                </a>
                <div class="absolute left-0 top-full h-3 w-full"></div>
                <div class="absolute left-0 top-[calc(100%+10px)] z-50 hidden w-[190px] rounded-[20px] bg-[#D6EB31] px-4 py-6 group-hover:block">
                    <ul class="font-dm font-semibold text-[#131020]">
                        <li>
                            <a asp-controller="Classes" asp-action="Index" asp-route-category="Personal Training"
                            class="block hover:opacity-70 mb-[14px] !text-[#131020]">
                                • Personal Training
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Classes" asp-action="Index" asp-route-category="Group Training"
                            class="block hover:opacity-70 mb-[14px] !text-[#131020]">
                                • Group Training
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Classes" asp-action="Index" asp-route-category="Padel"
                            class="block hover:opacity-70 mb-[14px] !text-[#131020]">
                                • Padel
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <a href="#" class="text-white hover:text-[#D6EB31]">Customer Service</a>
            <a href="#" class="text-white hover:text-[#D6EB31]">Store</a>
        </div>

        <div class="flex items-center gap-6">

            @if (User.Identity!.IsAuthenticated)
            {
                <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                    <button type="submit"
                        class="text-white text-sm hover:text-[#D6EB31] transition" >
                        Logout
                    </button>
                </form>

                <a asp-controller="Account" asp-action="Index"
                class="bg-[#D6EB31] text-black px-5 py-2 rounded-full text-sm font-medium hover:bg-lime-300 transition">
                    My Account >
                </a>

            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Register" 
                class="text-white text-sm hover:text-[#D6EB31] transition">
                    Become Member
                </a>

                <a asp-area="Identity" asp-page="/Account/Login"
                class="bg-lime-400 text-black px-5 py-2 rounded-full text-sm font-medium hover:bg-lime-300 transition">
                    Sign In >
                </a>
            }

        </div>

    </div>
</nav>